.DS_Store
room_pwd.json
**/node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

internal-chat-linux
internal-chat-macos
internal-chat-win.exe
internal-chat
